.button {
    min-width: 0;
    height: 4.6rem;
    margin: 0;
    padding: 1.4rem 3.2rem;
    cursor: pointer;
    outline: none;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 1px;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
  }
  .button.pill {
    border-radius: 2.3rem;
  }
  a.button {
    display: inline-block;
    text-decoration: none;
  }
  .button.primary,
  .button.primary[disabled],
  .button.primary[disabled]:hover {
    background-color: #327ca4; /* $theme-primary */
    border-color: #327ca4; /* $theme-primary */
    color: #fff; /* $theme-text-on-primary */
  }
  .button.primary:hover,
  .button.primary:focus,
  .button.primary:active {
    background-color: #2c6d90; /* $theme-primary-darker */
  }
  .button.secondary,
  .button.secondary[disabled],
  .button.secondary[disabled]:hover {
    background-color: #e02466; /* $theme-secondary */
    border-color: #e02466; /* $theme-secondary */
    color: #fff; /* $theme-text-on-secondary */
  }
  .button.secondary:hover,
  .button.secondary:focus,
  .button.secondary:active {
    background-color: #c5205a; /* $theme-secondary-darker */
  }
  .button.outline,
  .button.outline[disabled],
  .button.outline[disabled]:hover {
    background-color: #fff;
    border-color: #327ca4; /* $theme-primary */
    color: #327ca4; /* $theme-primary */
  }
  .button.outline:hover,
  .button.outline:focus,
  .button.outline:active {
    background-color: #e5ecf0;
  }
  .button.transparent,
  .button.transparent[disabled],
  .button.transparent[disabled]:hover {
    background-color: transparent;
    border-color: #327ca4; /* $theme-primary */
    color: #327ca4; /* $theme-primary */
  }
  .button.transparent:hover,
  .button.transparent:focus,
  .button.transparent:active {
    background-color: #e02466;
  }
  .button.semi-transparent-light,
  .button.semi-transparent-light[disabled],
  .button.semi-transparent-light[disabled]:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #ccc;
    color: #000;
  }
  .button.semi-transparent-light:hover,
  .button.semi-transparent-light:focus,
  .button.semi-transparent-light:active {
    background-color: rgba(255, 255, 255, 0.75);
  }
  .button.semi-transparent-dark,
  .button.semi-transparent-dark[disabled],
  .button.semi-transparent-dark[disabled]:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #333;
    color: #fff;
  }
  .button.semi-transparent-dark:hover,
  .button.semi-transparent-dark:focus,
  .button.semi-transparent-dark:active {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .button.thin {
    height: 3.4rem;
    padding: 0.8rem 2.4rem;
  }
  .button.thick {
    height: 5.8rem;
    padding: 2rem 4.8rem;
  }
  .button.small {
    height: 4.4rem;
    font-size: 1.2rem;
  }
  .button.large {
    height: 4.9rem;
    font-size: 1.6rem;
  }
  .button.stretch {
    width: 100%;
  }
  .button[disabled] {
    cursor: not-allowed;
    opacity: 0.25;
  }
  .button.icon {
    padding: 1rem;
  }
  